# 데이터 전처리 실습

- video game sales

## library import

In [4]:
import os

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import MinMaxScaler

## data import

In [5]:
csv_file_path = './data/vgsales.csv'
vgs = pd.read_csv(csv_file_path)
vgs.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

## 결측 데이터 제거.

In [6]:
vgs.count()

Rank            16598
Name            16598
Platform        16598
Year            16327
Genre           16598
Publisher       16540
NA_Sales        16598
EU_Sales        16598
JP_Sales        16598
Other_Sales     16598
Global_Sales    16598
dtype: int64

In [7]:
#결측 데이터 개수
len(vgs) - vgs.count()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [9]:

# 결측 데이터 조회
vgs[vgs.isnull().any(axis=1)]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
179,180,Madden NFL 2004,PS2,NaN,Sports,Electronic Arts,4.26,0.26,0.01,0.71,5.23
377,378,FIFA Soccer 2004,PS2,NaN,Sports,Electronic Arts,0.59,2.36,0.04,0.51,3.49
431,432,LEGO Batman: The Videogame,Wii,NaN,Action,Warner Bros. Interactive Entertainment,1.86,1.02,0.00,0.29,3.17
470,471,wwe Smackdown vs. Raw 2006,PS2,NaN,Fighting,NaN,1.57,1.02,0.00,0.41,3.00
607,608,Space Invaders,2600,NaN,Shooter,Atari,2.36,0.14,0.00,0.03,2.53
...,...,...,...,...,...,...,...,...,...,...,...
16427,16430,Virtua Quest,GC,NaN,Role-Playing,Unknown,0.01,0.00,0.00,0.00,0.01
16493,16496,The Smurfs,3DS,NaN,Action,Unknown,0.00,0.01,0.00,0.00,0.01
16494,16497,Legends of Oz: Dorothy's Return,3DS,2014.0,Puzzle,NaN,0.00,0.01,0.00,0.00,0.01
16543,16546,Driving Simulator 2011,PC,2011.0,Racing,NaN,0.00,0.01,0.00,0.00,0.01
16553,16556,Bound By Flame,X360,2014.0,Role-Playing,NaN,0.00,0.01,0.00,0.00,0.01

In [14]:
# 전부 결측인 데이터 숙청
vgs.dropna(how="all", inplace=True)
#원래 없음.

In [22]:
# year 와 Publisher 가 결측 데이터 컬럼
vgs[vgs["Year"].isnull()]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
179,180,Madden NFL 2004,PS2,NaN,Sports,Electronic Arts,4.26,0.26,0.01,0.71,5.23
377,378,FIFA Soccer 2004,PS2,NaN,Sports,Electronic Arts,0.59,2.36,0.04,0.51,3.49
431,432,LEGO Batman: The Videogame,Wii,NaN,Action,Warner Bros. Interactive Entertainment,1.86,1.02,0.00,0.29,3.17
470,471,wwe Smackdown vs. Raw 2006,PS2,NaN,Fighting,NaN,1.57,1.02,0.00,0.41,3.00
607,608,Space Invaders,2600,NaN,Shooter,Atari,2.36,0.14,0.00,0.03,2.53
...,...,...,...,...,...,...,...,...,...,...,...
16307,16310,Freaky Flyers,GC,NaN,Racing,Unknown,0.01,0.00,0.00,0.00,0.01
16327,16330,Inversion,PC,NaN,Shooter,Namco Bandai Games,0.01,0.00,0.00,0.00,0.01
16366,16369,Hakuouki: Shinsengumi Kitan,PS3,NaN,Adventure,Unknown,0.01,0.00,0.00,0.00,0.01
16427,16430,Virtua Quest,GC,NaN,Role-Playing,Unknown,0.01,0.00,0.00,0.00,0.01
16493,16496,The Smurfs,3DS,NaN,Action,Unknown,0.00,0.01,0.00,0.00,0.01

In [24]:
vgs[vgs["Publisher"].isnull()]
vgs[vgs["Publisher"].isnull()].count() # 58개

Rank            58
Name            58
Platform        58
Year            36
Genre           58
Publisher        0
NA_Sales        58
EU_Sales        58
JP_Sales        58
Other_Sales     58
Global_Sales    58
dtype: int64

In [65]:
#년도가 널이고 이름에 년도가 들어간경우 1942 빼고
#vgs[vgs["Year"].isnull() & vgs["Name"].str.contains('19\d\d',regex=True)] # 없음
nm_y = vgs[vgs["Year"].isnull() & vgs["Name"].str.contains('20\d\d',regex=True)]# 17개

In [66]:
vgs[vgs["Year"].isnull() & vgs["Name"].str.contains('20\d\d',regex=True)]["Name"]

179                        Madden NFL 2004
377                       FIFA Soccer 2004
470             wwe Smackdown vs. Raw 2006
1649                   NASCAR Thunder 2003
2586        PES 2009: Pro Evolution Soccer
3501                       Madden NFL 2002
4797                      NFL GameDay 2003
5162                         NBA Live 2003
5240                    Tomb Raider (2013)
5669                All-Star Baseball 2005
5901                         NBA Live 2003
8929                All-Star Baseball 2005
12922                  Tour de France 2011
13870                      Sega Rally 2006
15739                Football Manager 2007
15865    PDC World Championship Darts 2008
16057    PDC World Championship Darts 2008
Name: Name, dtype: object

In [64]:
# 년도 가 없는 값들중 이름에 년도가 있는 데이터에서 년도 정보 색출
vg_ny_20 = vgs[vgs["Year"].isnull() & vgs["Name"].str.contains('20\d\d',regex=True)]["Name"].str.findall('20\d\d')

179      [2004]
377      [2004]
470      [2006]
1649     [2003]
2586     [2009]
3501     [2002]
4797     [2003]
5162     [2003]
5240     [2013]
5669     [2005]
5901     [2003]
8929     [2005]
12922    [2011]
13870    [2006]
15739    [2007]
15865    [2008]
16057    [2008]
Name: Name, dtype: object

In [ ]:
vgs2 = vgs.merge()

## 중복데이터 파괴

## 이상치 파괴

## 정규화

## 원 핫 인코딩

## 구간화