# pandas 

- lnk https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html#min
- doc https://pandas.pydata.org/docs/

In [2]:
# library import

import numpy as np
import pandas as pd

In [5]:
# 객체 생성
s = pd.Series([1,3,5, np.nan, 6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [8]:
#날짜 데이터 생성
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [9]:
#
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list("ABCD"))
# randn 가우시안 표준 정규 분포에서 난수 matrix array >생성
df

                   A         B         C         D
2013-01-01  1.592643  0.819507 -0.473328  0.236168
2013-01-02 -1.332408 -0.388833 -0.297799 -1.222304
2013-01-03  1.634539 -0.421013 -0.723257  0.170580
2013-01-04 -1.374040  0.340337  0.854756 -0.551008
2013-01-05  0.690683 -0.339716 -0.383827  1.435080
2013-01-06  0.551475 -2.195702  0.144025  0.764796